---
sitemap:
  exclude: 'yes'
---
@import "brand/mixins";
@import "brand/normalize";
@import "brand/pygments";
@import "brand/typography";
@import "brand/messages";
@import "brand/images";
@import "brand/button";
@import "brand/code";
@import "brand/set";
@import "brand/form";
@import "brand/checkbox";
@import "brand/tables";

$brand-colour: #26ABE2;

$body-background-color: #2B2E31;

$content-max-width: 800px;
$content-color: #222;
$content-background-color: #fff;

// dark blue #135571
$nav-header-background-color: $brand-colour;
$nav-header-height: 60px;
$nav-background-color: #eee;
$nav-width: 300px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "layout";
@import "changelog";
@import "devices";
