{% assign requirements = "" %}

{% if page.requirements.syncing == 'GitHub' %}
	{% assign requirements = requirements | append: ' with <strong>GitHub</strong> syncing' %}
{% endif %}

{% if page.requirements.syncing == 'Git' %}
	{% assign requirements = requirements | append: ' with <strong>GitHub</strong>, <strong>GitLab</strong> and <strong>Bitbucket</strong> syncing' %}
{% endif %}

{% if page.requirements.plan == 'Basic' %}
	{% assign requirements = requirements | append: ' on the <strong>Basic</strong> and <strong>Pro</strong> plans' %}
{% elsif page.requirements.plan == 'Pro' %}
	{% assign requirements = requirements | append: ' on the <strong>Pro</strong> plan' %}
{% endif %}

{% if requirements != "" %}
	<blockquote class="explainer"><p>Available {{ requirements }}.</p></blockquote>
{% endif %}
