{% case include.icon %}
    {% when "business" %}
        {% include svg/business.svg %}
    {% when "console" %}
        {% include svg/console.svg %}
    {% when "create" %}
        {% include svg/create.svg %}
    {% when "devices" %}
        {% include svg/devices.svg %}
    {% when "emblem-icon" %}
        {% include svg/emblem-icon.svg %}
    {% when "enterprise" %}
        {% include svg/enterprise.svg %}
    {% when "explore" %}
        {% include svg/explore.svg %}
    {% when "folder" %}
        {% include svg/folder.svg %}
    {% when "people" %}
        {% include svg/people.svg %}
    {% when "translate" %}
        {% include svg/translate.svg %}
    {% when "group" %}
        {% include svg/group.svg %}
    {% when "business_center" %}
        {% include svg/business_center.svg %}
{% endcase %}