<header>
	<h1>
		<a href="/"><img src="/img/emblem.svg" width="40" height="40" alt="CloudCannon"></a>
		Documentation
		<button type="button" class="open-nav" id="open-nav"></button>
	</h1>

	<form action="/search/" method="get">
		<input type="text" name="q" id="search-input" placeholder="Search">
		<input type="submit" value="Search" style="display: none;">
	</form>

	<nav>
		<ul>
			{% assign url = page.url %}
			{% if url == "/" %}
				{% assign url = "/overview/welcome/" %}
			{% endif %}

			{% for collection in site.collections %}
				{% if collection.output and collection.label != 'posts' %}
					{% assign parts = url | split: "/" %}
					<li class="nav-item top-level {% if parts[1] == collection.active_prefix %}current{% endif %}">
						{% assign items = collection.docs | sort: 'order' %}
						<a href="{{ items.first.url }}">{{ collection.title }}</a>
						<ul>
							{% for item in items %}
								<li class="nav-item {% if item.url == page.url %}current{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<ul>
			<li class="nav-item top-level {% if url contains '/changelog/' %}current{% endif %}">
				<a href="/changelog/">Change Log</a>
			</li>
		</ul>
	</nav>
</header>
