html,
body {
	scroll-behavior: smooth;
}

h3 + .warning {
	margin-top: 1.75em;
}

h4 svg {
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -2px;
	fill: #2E2E2E;
	height: 23px;
}

.required {
	position: relative;
}

.required::after {
	content: "REQUIRED";
	font-size: 12px;
	position: absolute;
	top: 5px;
	line-height: 1;
	color: $brand-color;
	padding-left: 5px;
}

.c-notice {
	$c: &;
	padding: 16px;
	margin-bottom: 24px;
	border-radius: 3px;
	background-color: #f0f5ff;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 24px 32px;

	&__heading-container {
		display: flex;
		font-weight: 500;
		align-items: center;
		margin-bottom: 0;
		font-size: 18px;
		height: 28px;

		img {
			width: 20px;
			height: 20px;
			margin-right: 16px;
		}
	}

	p {
		margin: 0;
		color: #354361;
	}
}

article.content h3 {
	margin-top: 40px;
}

.docs-container h2 {
	margin: 0;
}

.toc ul {
	padding: 0;
	margin: 0 0 10px 0;

	li {
		margin: 0 1rem 2px 1rem;
		list-style: none;
		font-size: 14px;
		line-height: 1.8em;
	}

	a {
		padding: 0 10px;
	}
}

.toc:empty + .explainer {
	margin-top: 20px;
}

table {
	border: 1px solid #eee;
	border-radius: 2px;
	border-spacing: 0;

	th {
		padding-bottom: 8px;
	}

	thead th {
		border-bottom: 1px solid #eee;
	}
}

article.content h3,
article.content h4 {
	margin-top: 50px;
}

article.content h4 {
	font-size: 1.25rem;
}

.settings-panel-example .highlighter-rouge {
	@extend .vertical-flow;
}

.g-recaptcha {
  margin-bottom: 15px;
}

.cms-embed {
	@extend .vertical-flow;
}
