body {
	height: auto;

	@media (min-width: $mobile-break) {
		padding: 0 0 0 $nav-width;
		&::after {
			content: "";
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: $nav-width;
			background-color: $nav-background-color;
		}
	}
}

header {
	display: none;
	position: absolute;
	top: $mobile-nav-height;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	z-index: 1;
	background-color: $nav-background-color;

	ul {
		padding: 0;
		margin: 0;
	}

	h1 {
		display: none;
	}

	@media (min-width: $mobile-break) {
		background-color: transparent;
		display: block;
		width: $nav-width;
		top: 0;
		bottom: auto;

		h1 {
			@include display-flex();
			@include flex-direction(row);
			@include align-items(center);
			padding: $space;
			margin: 0;
			font-size: 1.9rem;
			line-height: 0.8;
			letter-spacing: 0;
			font-weight: 600;
			text-indent: 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.075);

			img {
				width: 24px;
				padding: 12px 8px;
				background: #26ABE2;
				border-radius: 2px;
				margin-right: 10px;
			}
		}
	}
}

.content {
	position: relative;
	background-color: transparent;
	color: $content-color;
}

.content,
.page-header {
	margin: 50px auto;
	padding: 0 $space + 5;
	max-width: $content-max-width;
}

.page-header {
	background-color: $page-header-background;

	h2,
	h3 {
		margin: 0;
		line-height: 1.2;
	}

	h2 {
		font-size: 2.65rem;
		margin-left: -1px;
		color: #888;
	}

	h3 {
		font-size: 5.4rem;
		margin-left: -4px;
	}

}

.nav-open {
	overflow: hidden;

	header {
		display: block;
	}
}

.mobile-nav {
	$emblem-size: 35px;
	$emblem-vertical-padding: ($mobile-nav-height - $emblem-size) / 2;
	$emblem-horizontal-padding: $space;

	@include display-flex;
	@include align-items(center);
	padding: $emblem-vertical-padding $emblem-horizontal-padding;
	height: $mobile-nav-height;
	background-color: $mobile-nav-background-color;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);

	> a {
		font-size: 0;
		line-height: 1;

		> img {
			height: $emblem-size;
			width: $emblem-size;
			padding: 0;
		}
	}

	> h1 {
		display: inline-block;
		margin: 0 0 0 20px;
		line-height: 1;
		font-size: 1.9rem;
		color: white;
		letter-spacing: -1px;
	}

	.open-nav {
		background-image: url(/img/icons/menu.svg);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 100%;
		width: $emblem-size;
		height: $emblem-size;
		border: 0;
		position: absolute;
		top: $emblem-vertical-padding;
		right: $emblem-horizontal-padding;
		border-radius: 2px;

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

nav {
	padding: $space / 2 0;
}

@media (min-width: $mobile-break) {
	nav {
		padding: 0;

		> ul {
			padding: $space / 2 0;

			& + ul {
				border-top: 1px solid rgba(0, 0, 0, 0.075);
			}
		}
	}
}

.nav-item {
	display: block;
	font-family: "Open Sans", sans-serif;
	line-height: 1;
	margin: 0;

	> ul {
		display: none;
	}

	> a {
		color: #666;
		text-decoration: none;
		font-size: 1.35rem;
		padding: $space / 2 0 $space / 2 $space * 2;
		display: block;
	}

	&.current > a,
	> a:active,
	> a:hover {
		color: #111;
	}

	&.current.top-level li:last-child > a {
		padding-bottom: $space;
	}

	&.current > ul {
		display: block;
	}

	&.top-level > a {
		line-height: 1.5;
		font-weight: 600;
		padding-left: $space;
	}
}

@media (min-width: $mobile-break) {
	.mobile-nav {
		display: none;
	}
}

.settings-panel-example {
	@extend p;
	@include display-flex();
	@include flex-direction(column);

	.example {
		max-width: 300px;
		background-color: #fafafa;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 1;
		border-radius: 2px;
		overflow: hidden;
	}

	@media (min-width: 960px) {
		@include flex-direction(row);

		.details {
			@include flex(1);
			margin-right: 20px;
		}

		p + .highlight > pre {
			margin-bottom: 0;
		}

		.example {
			@include flex(0 0 300px);
			max-width: 100%;
		}
	}
}

.highlight {
	margin-left: 0;
	margin-right: 0;
}

// this width is when the content starts centering
@media (max-width: $nav-width + ($space * 4) + $content-max-width) {
	.page-header,
	.content {
		margin: $space auto 1.75em auto;
	}

	.warning, .error, .success, .info {
		margin-left: 0;
		margin-right: 0;
	}
}

h3 + .warning {
	margin-top: 1.75em;
}