.split-choice-wrapper {
	display: flex;
	align-items: center;
	background: #fafafa;
	padding: 6px 0;
	flex-wrap: wrap;

	.split-choice {
		flex: 1 1 100%;
		box-sizing: border-box;
		margin: 6px;
		background: #fff;

		@media (min-width: 500px) {
			flex: 1 1 45%;
			min-width: 400px;
		}
	}

	.split-choice-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 40vh;
		max-width: 400px;
		text-align: center;
		padding: 20px;
		margin: 0 auto;
	}

	svg,
	i {
		height: 100px;
		font-size: 80px;
	}
}

$doc-section-breakpoint: 450px;

.doc-sections {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 -20px;
	padding: 0;

	.doc-section {
		flex: 1 1 400px;
		margin: 20px;
		height: 100%;

		@media (max-width: $doc-section-breakpoint) {
			margin: 10px 20px;
		}
	}

	.doc-section-learn-more {
		margin-top: 10px;
		color: $brand-color;
		opacity: 0.9;
	}

	.doc-section-link {
		display: flex;
		padding: 20px 20px;
		border: 1px solid #fff;
		background: #fdfdfd;
		border-radius: $border-radius;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		color: #333;
		fill: #333;

		&:hover {
			background: #fff;
			color: #000;
			fill: #000;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

			.doc-section-learn-more {
				opacity: 1;
			}
		}

		@media (max-width: $doc-section-breakpoint) {
			flex-wrap: wrap;
		}
	}

	.doc-section-content {
		display: flex;
		flex-direction: column;
		text-align: left;
		line-height: 1.6;
	}

	.doc-section-icon {
		display: block;
		font-size: 3rem;
		margin: 0 20px 0 0;
		align-self: flex-start;
		flex: 0 0 48px;
	}

	@media (max-width: $doc-section-breakpoint) {
		.doc-section-content,
		.doc-section-icon {
			text-align: center;
			margin: 0 auto;
		}
	}

	span {
		font-size: 1rem;
	}
}

.doc-category-header {
	font-size: 0.9rem;
	margin: 0;
	text-transform: uppercase;
	color: #888;

	@media (max-width: 800px) {
		display: none;
	}
}

h2.doc-main-header {
	margin: 10px 0 20px 0;
}
