---
layout: default
icons: true
---

{% assign collection = site.collections | where: "label", page.collection | first %}
<header class="short">
	{% include navigation/top.html %}
</header>


<div class="doc-nav">
	<div class="wrapper wrapper-large" style="padding: 0 10px;">
		<ul class="doc-nav-sections">
			{% assign sorted_sections = site.sections | sort: "order" %}
			{% for section in sorted_sections %}
			<li class="doc-nav-section">
				<a href="{{ section.url }}introduction/" class="doc-nav-section-link {% if page.url contains section.url %}current{% endif %}">
					{% if section.icon == "console" %}
						<svg viewBox="0 0 24 24"><path d="M20,19V7H4V19H20M20,3A2,2 0 0,1 22,5V19A2,2 0 0,1 20,21H4A2,2 0 0,1 2,19V5C2,3.89 2.9,3 4,3H20M13,17V15H18V17H13M9.58,13L5.57,9H8.4L11.7,12.3C12.09,12.69 12.09,13.33 11.7,13.72L8.42,17H5.59L9.58,13Z" /></svg>
					{% else %}
						<i class="material-icons">{{ section.icon }}</i>
					{% endif %}
					<strong>{{ section.short_name }}</strong>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="docs-container">
	<div class="wrapper wrapper-large">
		<nav class="docs-nav full-navigation">
		<!-- <nav class="docs-nav"> -->
			<ul>
				{% if collection.docs %}
					{% assign grouped = collection.docs | group_by: 'category' | sort_by_array: 'name', site.data.docs_order %}

					{% for group in grouped %}
						<li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
							{% assign items = group.items | sort: 'order' %}
							<a href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name | default: "General" }} ({{ items | size }})</a>
							<ul>
								{% for item in items %}
									<li class="nav-item {% if item.url == page.url %}current{% endif %}">
										<a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
										{% if item.url == page.url %}<div class="toc">{% include toc.html html=content h_max=3 %}</div>{% endif %}
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				{% else %}
					{{collection}}
				{% endif %}
			</ul>
		</nav>

		<section class="docs-main" id="doc">
			<article class="content">
				<h1 style="
    font-size: 0.9rem;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    /* color: #888; */
    /* font-weight: 600; */
">{{ collection.title }} / {{ page.category | default: "General" }}</h1>
				<h2 style="
    margin: 10px 0 20px 0;
">{{ page.title }}</h2>

				{% include doc-requirements.html  %}

				<div>{{ content }}</div>

				<script>{% include anchor-links.js %}</script>
			</article>
		</section>
	</div>
</div>

<script>
	{% include autofocus.js %}
</script>
