---
layout: default
header_class: short
---

<header class="short">
	{% include navigation/top.html %}

	<section>
		<div class="wrapper">
			<h1>{{ page.title }}</h1>
			{% if page.category %}
				<p class="subtitle">{{ page.category }}</p>
			{% elsif page.display_title %}
				<p class="subtitle">{{ page.display_title }}</p>
			{% elsif page.subtitle %}
				<p class="subtitle">{{ page.subtitle }}</p>
			{% endif %}
		</div>
	</section>
</header>

{{ content }}

<script>
	{% include autofocus.js %}
</script>
