.split-choice-wrapper {
	display: flex;
	align-items: center;
	background: #fafafa;
	padding: 6px 0;
	flex-wrap: wrap;

	.split-choice {
		flex: 1 1 40%;
		box-sizing: border-box;
		margin: 6px;
		background: #fff;
	}

	.split-choice-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 40vh;
		max-width: 400px;
		text-align: center;
		padding: 20px;
		margin: 0 auto;
	}

	svg,
	i {
		height: 100px;
		font-size: 80px;
	}
}

.doc-sections {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 20px;

	.doc-section {
		flex: 1 1 400px;
		margin: 20px;
		height: 100%;
	}

	.doc-section-link {
		display: flex;
		padding: 20px 20px;
		background: #fff;
		border-radius: $border-radius;
		color: #222;
	}

	.doc-section-content {
		display: flex;
		flex-direction: column;
		text-align: left;
		line-height: 1.6;
	}

	i {
		display: block;
		font-size: 3rem;
		margin: 0 20px 0 0;
	}

	span {
		font-size: 1rem;
	}
}

.doc-nav-sections {
	display: flex;
	list-style: none;
	padding: 0;
	max-width: 1200px;
	margin: 0 auto;
}

li.doc-nav-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 0 -1px;
}

$docs-nav-bottom-curve-size: 10px;
$docs-nav-background: rgba(0, 0, 0, 0.1);
.doc-nav {
	overflow: hidden;
	position: relative;
	padding-top: 10px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: $docs-nav-bottom-curve-size;
		left: 0;
		width: 100%;
		background: $docs-nav-background;
	}
}

a.doc-nav-section-link {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 15px 0 15px 0;
	border-radius: $docs-nav-bottom-curve-size $docs-nav-bottom-curve-size 0 0;
	color: #666;
	position: relative;
	z-index: 10;

	&:hover {
		color: #222;
	}

	&.current {
		color: #222;
		background: #fff;
		z-index: 1;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: $docs-nav-bottom-curve-size;
			left: 100%;
			width: 9999px;
			background: $docs-nav-background;
			bottom: 0;
			border-radius: 0 0 0 $docs-nav-bottom-curve-size;
		}

		&:after {
			right: 100%;
			left: auto;
			border-radius: 0 0 $docs-nav-bottom-curve-size 0;
		}
	}
}
