---
layout: doc
---

{{ content }}

<p>The available inputs are listed below:</p>

{% assign grouped = site.inputs | group_by: 'category' | sort_by_array: 'name', site.data.docs_order %}

<ul>
{% for group in grouped %}
	<li>
		<a href="#{{ group.name | slugify }}">{{ group.name }}</a>
		<ul>
			{% assign inputs = group.items | sort: 'order' %}
			{% for input in inputs %}
				<li><a href="#{{ group.name | slugify }}/{{ input.title | slugify }}">{{ input.title }}</a></li>
			{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>

<blockquote class="editable explainer">
	<p>Customise these interfaces further by adding sizes, formats, comments and defaults with <a href="/editing/options/options/">Options</a>.</p>
</blockquote>

{% for group in grouped %}
	<hr>
	<h3 id="{{ group.name | slugify }}">{{ group.name }}</h3>

	{% assign inputs = group.items | sort: 'order' %}
	{% for input in inputs %}
		<h4 id="{{ group.name | slugify }}/{{ input.title | slugify }}">{{ input.title }}</h4>
		<div class="settings-panel-example">
			<div class="details">
				{{ input.details | markdownify }}

				{% highlight yaml %}{{ input.yaml_code_block }}{% endhighlight %}

				{% if input.info %}<blockquote class="explainer">{{ input.info | markdownify }}</blockquote>{% endif %}
			</div>
			<div class="example">
				{% for image in input.image_paths %}
					<img alt="{{ input.title }} interface" src="{{ image }}">
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endfor %}
